@model agenda3.Eventos

@{
    ViewBag.Title = "Delete";
}

<body style="background: #1a2a6c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
</body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Menu", "Menu", "ModelFirsts", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

<h2>Delete Event</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Eventos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Evento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lugar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lugar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModelFirstId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelFirstId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Navegacion.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Navegacion.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            <a class="btn btn-info" href="http://localhost:50634/Eventos/Index">Back To List</a>
        </div>
    }
</div>
