@model agenda3.Eventos

@{
    ViewBag.Title = "Details";
}

<body style="background: #F2994A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
</body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Menu", "Menu", "ModelFirsts", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

<h2>Details</h2>

<div>
    <h4>Eventos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Evento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lugar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lugar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModelFirstId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelFirstId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Navegacion.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Navegacion.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a class="btn btn-info" href="http://localhost:50634/Eventos/Index">Back To List</a>
</p>
